altgraph==0.17.4
annotated-types==0.7.0
greenlet==3.2.4
macholib==1.16.3
packaging==25.0
playwright==1.55.0
psutil==7.0.0
psycopg2-binary==2.9.10
pydantic==2.11.7
pydantic_core==2.33.2
pyee==13.0.0
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
python-dotenv==1.1.1
setuptools==80.9.0
SQLAlchemy==2.0.43
typing-inspection==0.4.1
typing_extensions==4.15.0
